version: '3.8'
services:
  # Database services
  asapp-authentication-postgres-db:
    image: 'postgres:17.7'
    container_name: asapp-authentication-postgres-db
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_DB=authenticationdb
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=secret
    volumes:
      - authentication-postgres-db-data:/data/db
  asapp-tasks-postgres-db:
    image: 'postgres:17.7'
    container_name: asapp-tasks-postgres-db
    restart: unless-stopped
    ports:
      - '5433:5432'
    environment:
      - POSTGRES_DB=tasksdb
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=secret
    volumes:
      - tasks-postgres-db-data:/data/db
  asapp-users-postgres-db:
    image: 'postgres:17.7'
    container_name: asapp-users-postgres-db
    restart: unless-stopped
    ports:
      - '5434:5432'
    environment:
      - POSTGRES_DB=usersdb
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=secret
    volumes:
      - users-postgres-db-data:/data/db
  asapp-redis:
    image: redis:8.4.0-alpine
    container_name: asapp-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: ["redis-server", "--requirepass", "secret"]
    volumes:
      - redis-data:/data

  # Tools
  asapp-prometheus-authentication:
    image: curlimages/curl:8.11.1
    container_name: asapp-prometheus-authentication
    user: "root"
    command: [ "/bin/sh", "/prometheus_authentication.sh" ]
    environment:
      - AUTHENTICATION_SERVICE_BASE_URL=http://asapp-authentication-service:8080/asapp-authentication-service
      - PROMETHEUS_USER=sa.prometheus@asapp.com
      - PROMETHEUS_PASSWORD=sa-secret
      - ACCESS_TOKEN_EXPIRATION_TIME=300000
    volumes:
      - ./tools/prometheus/prometheus_authentication.sh:/prometheus_authentication.sh:ro
      - prometheus_auth:/etc/prometheus/auth:rw
    depends_on:
      - asapp-authentication-service
  asapp-prometheus:
    image: prom/prometheus:v3.8.0
    container_name: asapp-prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./tools/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_auth:/etc/prometheus/auth:ro
    depends_on:
      - asapp-prometheus-authentication
  asapp-grafana:
    image: grafana/grafana:12.3.1
    container_name: asapp-grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=secret
    volumes:
      - ./tools/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources:ro
      - ./tools/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards:ro
    depends_on:
      - asapp-prometheus

  # Services
  asapp-authentication-service:
    build: .
    image: 'asapp-authentication-service:0.2.0-SNAPSHOT'
    container_name: asapp-authentication-service
    restart: unless-stopped
    ports:
      - '8080:8080'
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SERVER_PORT=8080
      - MANAGEMENT_PORT=8090
      - DB_HOST=asapp-authentication-postgres-db
      - DB_PORT=5432
      - DB_NAME=authenticationdb
      - DB_USERNAME=user
      - DB_PASSWORD=secret
      - REDIS_HOST=asapp-redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=secret
      - REDIS_HOST=asapp-redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=secret
      - ASAPP_SECURITY_JWT_SECRET=qPxa4PP692Q4fx6voNBX25WoQrzjCoLWLW3VnABjZaOImy0cQaTad5DqBZk3qPxi
      - ASAPP_SECURITY_ACCESS_TOKEN_EXPIRATION_TIME=300000
      - ASAPP_SECURITY_REFRESH_TOKEN_EXPIRATION_TIME=3600000
      - ASAPP_SECURITY_JWT_CLEANUP_ENABLED=true
      - ASAPP_SECURITY_JWT_CLEANUP_CRON_EXPRESSION="0 0 2 * * ?"  # Daily at 2:00 AM
    depends_on:
      - asapp-authentication-postgres-db
  asapp-tasks-service:
    build: .
    image: 'asapp-tasks-service:0.2.0-SNAPSHOT'
    container_name: asapp-tasks-service
    restart: unless-stopped
    ports:
      - '8081:8081'
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SERVER_PORT=8081
      - MANAGEMENT_PORT=8091
      - DB_HOST=asapp-tasks-postgres-db
      - DB_PORT=5432
      - DB_NAME=tasksdb
      - DB_USERNAME=user
      - DB_PASSWORD=secret
      - REDIS_HOST=asapp-redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=secret
      - ASAPP_SECURITY_JWT_SECRET=qPxa4PP692Q4fx6voNBX25WoQrzjCoLWLW3VnABjZaOImy0cQaTad5DqBZk3qPxi
    depends_on:
      - asapp-tasks-postgres-db
  asapp-users-service:
    build: .
    image: 'asapp-users-service:0.2.0-SNAPSHOT'
    container_name: asapp-users-service
    restart: unless-stopped
    ports:
      - '8082:8082'
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SERVER_PORT=8082
      - MANAGEMENT_PORT=8092
      - DB_HOST=asapp-users-postgres-db
      - DB_PORT=5432
      - DB_NAME=usersdb
      - DB_USERNAME=user
      - DB_PASSWORD=secret
      - REDIS_HOST=asapp-redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=secret
      - ASAPP_SECURITY_JWT_SECRET=qPxa4PP692Q4fx6voNBX25WoQrzjCoLWLW3VnABjZaOImy0cQaTad5DqBZk3qPxi
      - ASAPP_CLIENT_TASKS_BASE_URL=http://asapp-tasks-service:8081/asapp-tasks-service
    depends_on:
      - asapp-users-postgres-db

volumes:
  prometheus_auth:
  authentication-postgres-db-data:
  tasks-postgres-db-data:
  users-postgres-db-data:
  redis-data:

