version: '3.8'
services:
  asapp-authentication-postgres-db:
    image: 'postgres:latest'
    container_name: asapp-authentication-postgres-db
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_DB=authenticationdb
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=secret
    volumes:
      - authentication-postgres-db-data:/data/db

  asapp-authentication-service:
    build: .
    image: 'asapp-authentication-service:0.2.0-SNAPSHOT'
    container_name: asapp-authentication-service
    restart: unless-stopped
    ports:
      - '8080:8080'
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SERVER_PORT=8080
      - MANAGEMENT_PORT=8090
      - DB_HOST=asapp-authentication-postgres-db
      - DB_PORT=5432
      - DB_NAME=authenticationdb
      - DB_USERNAME=user
      - DB_PASSWORD=secret
      - ASAPP_SECURITY_JWT_SECRET=qPxa4PP692Q4fx6voNBX25WoQrzjCoLWLW3VnABjZaOImy0cQaTad5DqBZk3qPxi
      - ASAPP_SECURITY_ACCESS_TOKEN_EXPIRATION_TIME=300000
      - ASAPP_SECURITY_REFRESH_TOKEN_EXPIRATION_TIME=3600000
      - ASAPP_SECURITY_JWT_CLEANUP_ENABLED=true
      - ASAPP_SECURITY_JWT_CLEANUP_CRON_EXPRESSION="0 0 2 * * ?" # Daily at 2:00 AM
    depends_on:
      - asapp-authentication-postgres-db

volumes:
  authentication-postgres-db-data:
